$pri-color: rgb(102, 153, 255);
$sec-color: rgb(141, 187, 255);
$pri-font-color: #000;
$sec-font-color: #fff;
$alpha: 0.7;

////////// 全体 //////////
h1{
  font-size: 2rem;
  font-weight: 600;
}
h2{
  font-size: 1.2rem;
  font-weight: 500;
}
h3{
  font-size: 0.7rem;
  font-weight: 300;
}
h4{
  font-weight: 500;
}
.large{
  display: none;
}
span.nowrap{
  display: inline-block;
  white-space: nowrap;
}
.section-inner{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.section-title{
  text-align: center;
  h2{
    margin-bottom: 2em;
    position: relative;
    z-index: 100;
    &::before{
      content: "";
      width: 40px;
      height: 40px;
      background-color: $sec-color;
      transform: rotate(45deg) translate(-20px, -20px);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 90;
    }
  }
}
button{
  padding: 1em 3em;
  border-radius: 5px;
  background-color: $pri-color;
  color: $sec-font-color;
}

////////// ツリー開始 //////////
body{
  width: 100vw;
  background-color: #fff;
  color: $pri-font-color;
  font-family: "Noto Sans JP", "Sans-serif";
  header{
    .header-menu{
      display: flex;
      flex-direction: row;
      width: 100vw;
      padding: 1em;
      background-color: rgba(255, 255, 255, 0.7);
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      img{
        width: 200px;
      }
      .gnav-btn{
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
        z-index: 300;
      }
      .gnav-btn{
        span{
          &, &::before, &::after{
          display: block;
          width: 30px;
          height: 5px;
          background-color: $pri-font-color;
          position: relative
          }
          &::before{
            top: 10px;
          }
          &::after{
            top: 20px;
          }
        }
      }
    } // header menu
    nav.small{
      .gnav-content{
        .gnav-hidden{
          display: none;
        }
        .gnav-black{
          display: none;
          width: 100vw;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.5);
          position: fixed;
          top: 0;
          left: 0;
          z-index: 290;
          transition: 0.3s;
        }
        .gnav-list{
          display: block;
          width: 70vw;
          height: 100vh;
          padding-top: 70px;
          background-color: $pri-font-color;
          color: $sec-font-color;
          position: fixed;
          top: 0;
          left: -100%;
          z-index: 300;
          transition: 0.3s;
          li{
            display: block;
            width: 100%;
            a{
              display: block;
              width: 80%;
              padding: 1.5em;
              margin: 0 auto;
              border-bottom: 1px dotted $sec-font-color;
              text-align: center;
            }
          }
        } // gnav-list
        ///インタラクティブ ///
        #gnav-input{
          &:checked ~ {
            .gnav-black{
              display: block;
            }
            .gnav-list{
              left: 0;
            }
          }
        }
      } // gnav-content
    } // nav.small
  } // header
  main{
    .mv-area{
      display: flex;
      width: 100%;
      height: 100vh;
      padding-top: 70px;
      background: url(../img/hero.jpg) center no-repeat;
      background-size: cover;
      justify-content: center;
      .mv-inner{
        display: block;
        width: 80%;
        text-align: center;
        .hero-headline{
          color: $sec-font-color;
        }
      } // mv-inner
    } // mv-area
    .info{
      display: block;
      width: 100%;
      padding: 3rem;
      background-color: $pri-color;
      .info-flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .info-flex-item{
          color: $sec-font-color;
          text-align: center;
          flex-basis: 48%;
          img{
            width: 100%;
          }
          .info-headline{
            margin: 1em 0;
          }
        }
      }
    } // info
    .service-list{
      .section-inner{
        .service-flex-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .service-flex-item{
            margin-bottom: 1em;
          }
          .service-content-box{
            padding: 1em;
            text-align: center;
            img{
              width:10em;
              max-width: auto;
            }
          }
        }
      }
    } //service
    .plan-list{
      .section-inner{
        .plan-flex-container{
          display: flex;
          flex-direction: column;
          justify-content: center;

        }
      }
    } // plan
  } // main
} // body