*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: #fff;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

img {
  display: block;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

.large {
  display: none !important;
}
@media screen and (min-width: 769px) {
  .large {
    display: initial !important;
  }
}

.small {
  display: initial !important;
}
@media screen and (min-width: 769px) {
  .small {
    display: none !important;
  }
}

span.nowrap {
  display: inline-block;
  white-space: nowrap;
}

section {
  padding: 3rem 0;
}

.section-inner {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.section-headline {
  margin-bottom: 1em;
  text-align: center;
}
.section-headline h2 {
  margin-bottom: 18.28854314px;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 100;
}
.section-headline h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(141, 187, 255);
  transform: translate(-20px, -20px) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -90;
}
.section-headline h3 {
  color: rgb(141, 187, 255);
}
.section-headline p {
  margin: 1em 0;
}

button {
  padding: 1em 3em;
  border-radius: 10px;
  background-color: rgb(102, 153, 255);
  color: rgba(255, 255, 255, 0.9);
}

body {
  width: 100vw;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Noto Sans JP", "Sans-serif";
}
body header .header-menu {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
body header .header-menu img {
  width: 200px;
}
@media screen and (min-width: 769px) {
  body header .header-menu img {
    width: 250px;
  }
}
body header .header-menu .gnav-btn {
  display: inline-block;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 300;
}
body header .header-menu .gnav-btn span, body header .header-menu .gnav-btn span::before, body header .header-menu .gnav-btn span::after {
  display: block;
  width: 30px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}
body header .header-menu .gnav-btn span::before {
  top: 10px;
}
body header .header-menu .gnav-btn span::after {
  top: 20px;
}
body header .header-menu nav.large .gnav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body header .header-menu nav.large .gnav-list li a {
  display: block;
  min-width: 83px;
  padding: 1em;
  margin-left: 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;
  text-align: center;
}
body header .header-menu nav.large .gnav-list li a:hover {
  background-color: rgba(155, 155, 155, 0.4);
}
body header .header-menu nav.large .gnav-list li a::first-line {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}
body header nav.small .gnav-content .gnav-hidden {
  display: none;
}
body header nav.small .gnav-content .gnav-black {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 290;
  transition: 0.3s;
}
body header nav.small .gnav-content .gnav-list {
  display: block;
  width: 70vw;
  height: 100vh;
  padding-top: 70px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 300;
  transition: 0.3s;
}
body header nav.small .gnav-content .gnav-list li {
  display: block;
  width: 100%;
}
body header nav.small .gnav-content .gnav-list li a {
  display: block;
  width: 80%;
  padding: 1.5em;
  margin: 0 auto;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
body header nav.small .gnav-content .gnav-list li a::first-line {
  font-size: 1.2rem;
  font-weight: 500;
}
body header nav.small .gnav-content #gnav-input:checked ~ .gnav-black {
  display: block;
}
body header nav.small .gnav-content #gnav-input:checked ~ .gnav-list {
  left: 0;
}
body main .mv-area {
  display: flex;
  height: 100vh;
  padding-top: 70px;
  background: url(../img/hero.jpg) center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
body main .mv-area .mv-inner {
  display: block;
  width: 80%;
  text-align: center;
}
body main .mv-area .mv-inner h1 {
  margin-bottom: 1em;
}
body main .mv-area .mv-inner h1 .hero-headline {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  font-weight: 600;
}
body main .info {
  background-color: rgb(102, 153, 255);
}
body main .info .info-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .info .info-flex-container .info-flex-item {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  flex-basis: 48%;
}
body main .info .info-flex-container .info-flex-item img {
  width: 100%;
}
body main .info .info-flex-container .info-flex-item h2 {
  margin: 1em 0;
}
body main .info .info-flex-container .info-flex-item h2 .info-headline {
  font-size: 1em;
  font-weight: 500;
}
body main .service-list .section-inner .service-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .service-list .section-inner .service-flex-container .service-flex-item {
  margin-bottom: 1em;
}
body main .service-list .section-inner .service-flex-container .service-content-box {
  padding: 1em;
  border: 2px solid rgb(102, 153, 255);
  border-radius: 10px;
  text-align: center;
}
body main .service-list .section-inner .service-flex-container .service-content-box img {
  display: inline-block;
  width: 8em;
  max-width: 50%;
}
body main .service-list .section-inner .service-flex-container .service-content-box h4 {
  margin-bottom: 1em;
}
body main .plan-list {
  background-color: #f0f0f0;
}
body main .plan-list .section-inner .plan-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box {
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box img {
  width: 100%;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box .plan-content-box-inner {
  padding: 1em;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box .plan-content-box-inner h4 {
  display: block;
  width: 100%;
  padding: 0.7em;
  border-bottom: 2px solid rgb(102, 153, 255);
  font-size: 1.1rem;
  text-align: center;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box .plan-content-box-inner p {
  display: block;
  width: 100%;
  margin: 1em 0;
  text-align: left;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box .plan-content-box-inner ul {
  padding: 1em;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box .plan-content-box-inner ul li::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 6px;
  background: url(../img/list-marker.svg) center no-repeat;
  background-size: cover;
  vertical-align: middle;
}
body main .plan-list .section-inner .plan-flex-container .plan-content-box .plan-content-box-inner .plan-price {
  padding: 1em;
  margin: 0;
  border: 2px solid rgb(102, 153, 255);
  text-align: center;
}
body main .access-info .section-inner .access-flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-content: center;
}
body main .access-info .section-inner .access-flex-container .access-sentence {
  margin: 1em;
}
body main .access-info .section-inner .access-flex-container .access-sentence h4 {
  margin-bottom: 1rem;
}
body main .access-info .section-inner .access-flex-container .access-img img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
body main .access-info .section-inner .iframe-wrapper {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 10px;
  background-color: #f0f0f0;
  overflow: hidden;
}
body main .access-info .section-inner .iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  transform: translateY(0);
}
body main .pagetop {
  padding: 1.5rem 0;
  background-color: #f0f0f0;
  text-align: right;
}
body main .pagetop p a::after {
  content: "";
  display: inline-block;
  background: url(../img/list-marker.svg) center no-repeat;
  background-size: cover;
  width: 1.1em;
  height: 1.1em;
  padding: 0.5em;
  margin-left: 6px;
  transform: rotate(-90deg);
  vertical-align: middle;
}
body footer.footer-area {
  background-color: #0f487f;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
body footer.footer-area .contact {
  padding: 3rem 0;
}
body footer.footer-area .contact .section-inner img {
  width: 200px;
  display: inline-block;
}
@media screen and (min-width: 769px) {
  body footer.footer-area .contact .section-inner img {
    width: 250px;
  }
}
body footer.footer-area .contact .section-inner p {
  margin: 1em 0;
}
body footer.footer-area .contact .section-inner address {
  font-size: 1.3rem;
  font-weight: 500;
}
body footer.footer-area .contact .section-inner address a {
  font-size: 1em;
  font-weight: 500;
}
body footer.footer-area .copyright {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}
body footer.footer-area .copyright small {
  font-size: 0.6rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */